<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Uren - Car Accessories Shop HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
    <!-- Fontawesome -->
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css" />
    <!-- Fontawesome Star -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-stars.css" />
    <!-- Ion Icon -->
    <link rel="stylesheet" href="assets/css/vendor/ion-fonts.css" />
    <!-- Slick CSS -->
    <link rel="stylesheet" href="assets/css/plugins/slick.css" />
    <!-- Animation -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <!-- jQuery Ui -->
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <!-- Lightgallery -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css" />
    <!-- Nice Select -->
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <!--<link rel="stylesheet" href="assets/css/style.min.css">-->
  </head>

  <body class="template-color-1">
    <div class="main-wrapper">
      <!-- Begin Uren's Header Main Area -->
      <%-include("header2.ejs")%>
      <!-- Uren's Header Main Area End Here -->

      <!-- Begin Uren's Breadcrumb Area -->
      <div class="breadcrumb-area">
        <div class="container">
          <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Checkout</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Uren's Breadcrumb Area End Here -->
      <!-- Begin Uren's Checkout Area -->
      <div class="uren-cart-area">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="table-content table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="uren-product-thumbnail">images</th>
                      <th class="cart-product-name">Product</th>
                      <th class="uren-product-price">Unit Price</th>
                      <th class="uren-product-quantity">Quantity</th>
                      <th class="uren-product-subtotal">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if (cartItems.length === 0) { %>
                    <p>Your cart is empty.</p>
                    <% } else { %> <% cartItems.forEach((item, index) => { %>
                    <tr>
                      <td class="uren-product-thumbnail">
                        <a href="javascript:void(0)"
                          ><img
                            src="http://localhost:3000/<%= item.imageurl %>"
                            alt="<%= item.product_name %> Image"
                        /></a>
                      </td>
                      <td class="uren-product-name">
                        <a href="javascript:void(0)"
                          ><%= item.product_name %></a
                        >
                      </td>
                      <td class="uren-product-price">
                        <span class="amount"><%= item.price %></span>
                      </td>
                      <td class="quantity">
                        <p><%= item.quantity %></p>
                      </td>
                      <td class="product-subtotal">
                        <span class="amount"
                          ><%= item.price * item.quantity %></span
                        >
                      </td>
                    </tr>
                    <% }); %> <% } %>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <div class="cart-page-total">
                    <h2>Cart totals</h2>
                    <ul>
                      <li>Total <span><%=totalAmount%></span></li>
                    </ul>
                  </div>
                  <div class="payment-method">
                    <div class="payment-accordion">
                      <div id="accordion">
                        <form action="/submit-order" method="post">
                          <div class="card">
                            <div class="card-header" id="#payment-2">
                              <h5 class="panel-title">
                                <a
                                  href="javascript:void(0)"
                                  class="collapsed"
                                  data-toggle="collapse"
                                  data-target="#collapseTwo"
                                  aria-expanded="false"
                                  aria-controls="collapseTwo"
                                >
                                  Cash On Delivery
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseTwo"
                              class="collapse"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Make your payment directly into our bank
                                  account. Please use your Order ID as the
                                  payment reference. Your order won’t be shipped
                                  until the funds have cleared in our account.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div
                            class="card"
                            style="pointer-events: none; cursor: default"
                          >
                            <div class="card-header" id="#payment-3">
                              <h5 class="panel-title">
                                <a
                                  href="javascript:void(0)"
                                  class="collapsed"
                                  data-toggle="collapse"
                                  data-target="#collapseThree"
                                  aria-expanded="false"
                                  aria-controls="collapseThree"
                                >
                                  PayPal Coming Soon
                                </a>
                              </h5>
                            </div>
                            <div
                              id="collapseThree"
                              class="collapse"
                              data-parent="#accordion"
                            >
                              <div class="card-body">
                                <p>
                                  Make your payment directly into our bank
                                  account. Please use your Order ID as the
                                  payment reference. Your order won’t be shipped
                                  until the funds have cleared in our account.
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="order-button-payment">
                            <input value="Place order" type="submit" />
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%-include("footer.ejs")%>
    </div>

    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Popper JS -->
    <script src="assets/js/vendor/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="assets/js/plugins/slick.min.js"></script>
    <!-- Barrating JS -->
    <script src="assets/js/plugins/jquery.barrating.min.js"></script>
    <!-- Counterup JS -->
    <script src="assets/js/plugins/jquery.counterup.js"></script>
    <!-- Nice Select JS -->
    <script src="assets/js/plugins/jquery.nice-select.js"></script>
    <!-- Sticky Sidebar JS -->
    <script src="assets/js/plugins/jquery.sticky-sidebar.js"></script>
    <!-- Jquery-ui JS -->
    <script src="assets/js/plugins/jquery-ui.min.js"></script>
    <script src="assets/js/plugins/jquery.ui.touch-punch.min.js"></script>
    <!-- Lightgallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>
    <!-- Scroll Top JS -->
    <script src="assets/js/plugins/scroll-top.js"></script>
    <!-- Theia Sticky Sidebar JS -->
    <script src="assets/js/plugins/theia-sticky-sidebar.min.js"></script>
    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <!-- jQuery Zoom JS -->
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
