<!-- details.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>data Details</title>
    <style>
        /* Your styles for data details go here */
    </style>
</head>
<body>
    <div>
        <a href="/cart" style="float: right; margin-right: 20px;">Go to Cart</a>
    </div>

    <h1>data Details</h1>

    <div>
        <img src="http://localhost:3000/<%= data.imageurl %>" alt="data Image">
        <p><strong>data ID:</strong> <%= data.product_id %></p>
        <p><strong>Name:</strong> <%= data.data_name %></p>
        <p><strong>Description:</strong> <%= data.description %></p>
        <p><strong>Price:</strong> <%= data.price %></p>
        <p><strong>Stock Quantity:</strong> <%= data.stock_quantity %></p>
        <p><strong>Weight:</strong> <%= data.weight %></p>

        <!-- Add to Cart Form -->
        <form action="/supplements/add-to-cart/<%= data.product_id %>" method="POST">
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="<%= data.stock_quantity %>" required>
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</body>
</html>
